<!DOCTYPE html>
<html lang="lang">
<head>
    <meta charset="charset">
    <title>Spotify currently playing</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alex+Brush&family=Fascinate+Inline&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/404.css">
</head>
<body>
    <h1>404 page not found :(</h1>
    <div class="icon">
        <span> </span>
        <span> </span>
        <span> </span>
        <span> </span>
        <span> </span>
        <span> </span>

    </div>
    <form action="/">
        <button type="submit" class="authButton" style="margin-top: 0px;">
            Home 
        </button>
    </form>

</body>
</html>
