<!DOCTYPE html>
<html lang="lang">
<head>
    <meta charset="charset">
    <title>Spotify currently playing</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alex+Brush&family=Fascinate+Inline&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Authorise with spotify</h1>

    <form action="/auth/spotify">
        <button type="submit" class="authButton">
            Authorise! 
            <img src="/static/Spotify_icon.png" class="icon" alt="Spotify">
        </button>
    </form>

</body>
</html>
