<!DOCTYPE html>
<html lang="lang">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify currently playing</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alex+Brush&family=Fascinate+Inline&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="switcher">    
        <form action="/playing" class="switchForm">
            <button type="submit" class="switcherButton">
                Playing
                <div class="underliner"></div>
            </button>
        </form>
        <form action="/stats" class="switchForm">
            <button type="submit" class="switcherButton">
                Stats
                <div class="underliner"></div>
            </button>
        </form>
        <form action="/recents" class="switchForm">
            <button type="submit" class="switcherButton">
                Recently played
                <div class="underliner"></div>
            </button>
        </form>
    </div>
    <div class="recents"></div>

    <script src="/static/javascript/recent.js"></script>
</body>
</html>
