body{
    text-align: center;
    font-family: "Montserrat";
    background-color: antiqueWhite;
    caret-color: transparent;
    user-select: none;
}

body.modal-open{
    overflow: hidden;
}

/* phone styles */
@media only screen and (max-width: 700px){
    .player{
        width: 60% !important;
        max-height: 70% !important;
    }
    .recentTrack{
        max-width: 80% !important;
    }
    .infoCard{
        width: 80% !important;
    }
}


/* auth page */
.icon{
    max-width: 30px;
}

.authButton{
    margin-top: 20%;
    max-width: fit-content;
    font-family: "Montserrat";
    padding: 20px;
    font-size: 30px;
    border: none;
    outline: none;
    background-color: coral;
    -webkit-box-shadow:0px 0px 18px 2px rgba(255,127,80,0.9);
    -moz-box-shadow: 0px 0px 18px 2px rgba(255,127,80,0.9);
    box-shadow: 0px 0px 18px 2px rgba(255,127,80,0.9);
    border-radius: 20px;
    color: antiqueWhite;
}

/* player page */
.player{
    padding: 20px;
    margin: auto;
    width: 20%;
    background-color: coral;
    border-radius: 20px;
    border: 2px solid antiqueWhite;
    box-shadow: 5px 5px 5px coral;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    transition: 0.25s ease;
  overflow-y: auto;  /* Enable vertical scrolling */
  overflow-x: hidden; /* Prevent horizontal scrolling */

    scrollbar-color: Crimson rgba(255, 255, 255, 0.0);
    scrollbar-width: medium;
}

.player .currentTrack{
    margin-top: 10px;
}

.currentTrack{
    color: antiqueWhite;
    text-align: left;
    overflow: auto;
}

.playbar{
    -webkit-appearance: none;
    width:100%;
    height: 5px;
    background-color: #f7dfbe;
    border-radius: 2.5px;
    outline: none;
    border: none;
    decoration: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

.playbar::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 10px; /* Set a specific slider handle width */
  height: 10px; /* Slider handle height */
  background: antiqueWhite; /* background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 100%;
  outline:none;
  border: none;
}

.playbar::-moz-range-thumb {
  width: 10px; /* Set a specific slider handle width */
  height: 10px; /* Slider handle height */
  background: antiqueWhite; /* background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 100%;
  outline:none;
  border: none;
}


.controlButton{
    color: black;
    width: 20%;
    aspect-ratio: 1/1;
    border-radius: 100%;
    background-color: antiqueWhite;
    outline: none;
    border: none;
    transition: 0.5s ease;
}

.controlButton:hover{
    width: 21%;
    cursor: pointer;
}

.cover{
    max-width: 70%;
    border-radius: 10px;
}

.trackTitle{
    margin-top: 5px;
    margin-bottom: 5px;
}

.artist{
    margin-top:5px;
    margin-bottom: 5px;
}

.controlPanel{
    padding: 5px
}

.playOpt{
    padding: 7px;
    background-color: transparent;
    border:none;
    outline: none;
    border-radius: 7px;
    transition: 0.3s ease;
}

.playOpt:hover{
    background-color: #ff6933;
}

.playOpt svg{
    width: 20px;
    fill: antiqueWhite;
}

.playOpts{
    margin-top: 10px;
    text-align:center;
    display: flex;
    justify-content: space-evenly; 
    width: 100%; /* Adjust based on your needs */
}

#queue .recentTrack{
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.recentTrack .currentTrack{
    max-width: 50%;
    height: 100%;
    scrollbar-color: Crimson rgba(255, 255, 255, 0.0);
    scrollbar-width: medium;
}

#queue .recentTrack .currentTrack h5{
    margin: 0
}

#queue{
    margin-top: 90vh;
}

/* stats page */

.toaster{
    position: fixed;
    width: 20%;
    background-color: coral;
    color: antiqueWhite;
    border-radius: 15px;
    display: none;
    top: 20px;
    left: 50%;
    padding: 20px;
    transform: translate(-50%, 0);
}

.image-container {
    margin-right: 15px;
    max-width: 50%;
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.image-container img {
    display: block;
    transition: filter 0.3s ease;
}

.image-container div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    padding: 10px;
    border-radius: 50%;
    margin-left:0 !important;
    z-index: 999999999;
    cursor:pointer;
}

.image-container:hover img {
    filter: brightness(0.7);
}

.image-container:hover div {
    opacity: 1;
    transform: translate(-50%, -50%);
}

.image-container div svg{
    fill: antiqueWhite;
}

.shareButton{
    width: 40px;
    aspect-ratio: 1/1;
    border-radius: 30px;
    background-color: #1db954;
    border: none;
    outline: none;
    text-align:center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shareButton svg{
    display:block;
    fill: black;
}

.switcherButton{
    margin-left: 5vw;
    margin-right: 5vw;
    border: none;
    outline: none;
    color: coral;
    background: none;
    font-size: 125%;
    text-align: center;
}

.underliner{
    margin-top: 1px;
    background-color: coral;
    width: 0%;
    margin: auto;
    height: 4px;
    border-radius: 2px;
    transition: 0.25s ease;
}

.switcherButton:hover .underliner{
    width:100%
}


.switcher{
    text-align: center;
    margin:auto;
    display: inline-flex;
}

.statSelector{
    margin: auto;

    margin-top: 20px;
    width: 95%;
    padding: 10px;
    background-color:coral;
    border-radius: 10px;
}

.favouriteWhat{
    margin-top: 7px;
}

.selectorLine{
    display: flex;
    gap: 10px;
    width: 100%;
}

.selectorButton, .selectorButtonTime{
    flex: 1;
    text-align: center;
    padding: 10px;
    background-color: Crimson;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 2px 2px antiqueWhite;
    transition: border 0.1s ease;
}

.selectorButton.active, .selectorButtonTime.active{
    transform: translate(2px, 2px);
    box-shadow: none;
    border: 2px solid antiqueWhite;
}


#statList {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px; /* Adjust spacing between items */
    margin-top: 20px;
    width: 94%;
    padding: 15px;
    background-color: coral;
    border-radius: 10px;
}

.stat {
    padding: 5px;
    overflow: hidden;
    width: 100%;
    transition: transform 0.5s ease;
    position: relative; /* Ensures the item stays in place when expanded */
    background-color: coral;
    border-radius: 15px;
}

.stat * {
    width: 100%;
}

.statCover {
    transition: 0.5s ease;
    box-shadow: none;
    border-radius: 15px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.stat:hover {
    transform: scale(1.05); /* This expands the stat */
    z-index: 1; /* Makes sure the hovered stat appears above others */
}

.hidden{
    display: none;
}

.infoCard{
    pointer-events: auto;
    background-color: coral;
    border-radius: 20px;
    margin: auto; /* 15% from the top and centered */
    padding: 1%;
    position: relative;
    width: 40%; /* Could be more or less, depending on screen size */
    text-align: left;
    display: flex;
    aspect-ratio:2/1;
    font-size: clamp(1px, 2vw, 16px);
}

.infoCard img{
    aspect-ratio: 1/1;
    height:100%;
    border-radius: 15px;
    margin-right: 15px;
}

.infoCard button{
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    outline: none;
    border: none;
}

.infoCard .currentTrack{
    height:100%;
    display:flex;
    overflow: auto;
    flex-direction: column;
    justify-content: space-between; /* Even spacing */
    text-wrap: wrap;
    word-wrap: none;
    scrollbar-color: Crimson rgba(255, 255, 255, 0.0);
    scrollbar-width: medium;
    max-width: 40%;
}

.infoCard svg{
    transition: 0.3s ease;
}

.infoCard svg:hover{
    fill: white;
    transform: rotate(20deg); /* Rotates 180 degrees on hover */
}

.pageTaker{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 9999; /* Ensures it's on top of other content */
    display: none;
    transition: opacity 0.3s ease;
}

.infoCard .currentTrack::-webkit-scrollbar-track {
    background: none; /* Track color */
}

.infoCard .currentTrack::-webkit-scrollbar-thumb {
    background: Crimson; /* Scrollbar handle color */
}

/* recently played */


.recentTrack{
    display: flex;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 30%;
    background-color: coral;
    border-radius: 15px;
    height: 100px;
    padding: 10px;
    border: 2px solid antiqueWhite;
    box-shadow: 5px 5px 5px coral;
    position: relative;
}

.recentTrack h4{
    margin-top: 0;
    margin-bottom: 5px;
}
.recenttrackpopularity{
    margin-bottom: 0;
    margin-top: 0;
}
.recentartist{
    margin-top: 0;
    margin-bottom: 15px;
}



.recentCover{
    height: 100%;
    margin-right: 10px;
    aspect-ratio: 1/1;
    border-radius: 15px;
    transition: 1s ease;
}

.recentTrack .image-container{
    display: inline-block;
}

.playCent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    padding: 10px;
    border-radius: 50%;
    margin-left:0 !important;
    z-index: 999999999;
    cursor:pointer;
}
.ric{
    text-align: left;
    padding: none;
    margin-right: 15px;
    position: relative;
}
.recentCover:hover{
    filter: brightness(0.7);
}
.ric:hover div{
    opacity: 100;
}

.ric div svg{
    transition: 0.3s ease;
}

.ric div:hover svg{
    transform: rotate(20deg);
}
